<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.footer{
    text-align: center;
    border: 1px solid #73AD21;
}

table#movie_database {

  width: 100%;
  background_color: #f1f1c1;

}

table#movie_database th {
  color: red;
  text-align: center; 
}

table#movie_database tr {
  color: red; 
  text-align: center; 
}

table#movie_database td {
  color: red; 
  text-align: center; 
}
</style>
</head>
<body><h1>Assignment 6</h1>

  <div class="footer">
    {% if messages %}
       	  <p>Message:</p>
	  <p>{{ messages }}</p>
    {% endif %}
    {% if entries %}
	<div align="center">
	  <table id="movie_database">
	  <tr>
	      <th>Year</th>
	      <th>Title</th>
	      <th>Director</th>
	      <th>Actor</th>
	      <th>Release Date</th>
	      <th>Rating</th>
	  </tr>
	      {% for row in entries %}
		<tr>
		  <td>{{ row[1] }}</td>
		  <td>{{ row[2] }}</td>
		  <td>{{ row[3] }}</td>
		  <td>{{ row[4] }}</td>
		  <td>{{ row[5] }}</td>
		  <td>{{ row[6] }}</td>
		</tr>
	      {% endfor %}
	</table>
	</div>
    {% endif %}
    {% if rating_entries %}
	<div align="center">
	  <table id="movie_database">
	  <tr>
	      <th>Year</th>
	      <th>Title</th>
	      <th>Director</th>
	      <th>Actor</th>
	      <th>Rating</th>
	  </tr>
	      {% for row in rating_entries %}
		<tr>
		  <td>{{ row[0] }}</td>
		  <td>{{ row[1] }}</td>
		  <td>{{ row[2] }}</td>
		  <td>{{ row[3] }}</td>
		  <td>{{ row[4] }}</td>
		</tr>
	      {% endfor %}
	</table>
	</div>
    {% endif %}

  </div>

   
  <div class="bodycenter">
 
    <form action="add_movie" method="post">
      <h4>Insert Movie</h4>
      <br>
      Year: <input type="text" name="year"><br>
      Title: <input type="text" name="title"><br>
      Director: <input type="text" name="director"><br>
      Actor: <input type="text" name="actor"><br>
      Release Date: <input type="text" name="release_date"><br>
      Rating: <input type="text" name="rating"><br>
      <input type="submit" value="Insert Movie">
    </form>
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <form action="update_movie" method="post">
      <h4>Update Movie</h4>
      <br>
      Year: <input type="text" name="year"><br>
      Title: <input type="text" name="title"><br>
      Director: <input type="text" name="director"><br>
      Actor: <input type="text" name="actor"><br>
      Release Date: <input type="text" name="release_date"><br>
      Rating: <input type="text" name="rating"><br>
      <input type="submit" value="Update Movie">
    </form>
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <form action="delete_movie" method="post">
      <h4>Delete Movie</h4>
      <br>
      Title: <input type="text" name="delete_title"><br>
      <input type="submit" value="Delete Movie">
    </form>
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <form action="search_movie" method="get">
      <h4>Search Movie</h4>
      <br>
      Actor: <input type="text" name="search_actor"><br>
      <input type="submit" value="Search Movie">
    </form>
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <h4>Print movie</h4>
    <form action="highest_rating" method="get">
      <br>
      <input type="submit" value="Highest Rating movie">
    </form>
    
    <form action="lowest_rating" method="get">
      <br>
      <input type="submit" value="Lowest Rating movie">
    </form>

    <div class="footer">
    </div>
  </div>
</body>
</html>
